---
import Layout from "../layouts/Layout.astro";
import LasVegasSign from "@/components/LasVegasSign.astro";
import Button from "@/components/Button.astro";
---

<Layout
	title="NFL Playoffs 2024"
	description="Predicción de los NFL playoffs 2024"
>
	<div
		class="min-h-screen bg-cover bg-center"
		style="background-image: url('/lasvegas.jpg')">
		<div class="absolute inset-0 bg-gradient-to-b from-primary2 via-secundary/65 to-primary1/40"/>
		<main class="relative min-h-screen flex flex-col justify-center items-center">
			<!-- TODO: use i18n dependecy from astro in the future for copies -->
			<LasVegasSign/>
			<Button
				url="/playoffs"
				target="_self"
				class="relative top-28 sm:top-36 md:top-44 text-xl sm:text-2xl hover:animate-none delay-75 ease-out transition-[background] hover:bg-primary1 drop-shadow-[0_8px_20px_#C5425F]">
				Comenzar
			</Button>
		</main>
	</div>
</Layout>
