---
import Layout from '../layouts/Layout.astro';
---

<Layout title="NFL Playoffs 2024" description='Predicción de los NFL playoffs 2024'>
	<main>
		<!-- TODO: use i18n dependecy from astro in the future -->
		<h1>
				BIENVENIDO<br/>
				AL <strong>Fabuluso</strong><br/>
				CAMINO<br/>
				Del Super Bowl 58
		</h1>

		<button>
			Empezar
		</button>
	</main>
</Layout>