---
export const prerender = false;

import NFL from "@/components/icons/NFL.astro";
import WildCard from "@/components/icons/WildCard.astro";
import Divisional from "@/components/icons/Divisional.astro";
import Layout from "../layouts/Layout.astro";
import Bracket from "@/components/Bracket.astro";
import Button from "@/components/Button.astro";
---

<style>
  .layer__background::before {
    --line: hsl(0 0% 95% / 0.20);
    content: "";
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    background: linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 50% -5vmin / 10vmin 10vmin, linear-gradient(var(--line) 1px, transparent 1px 10vmin) 50% -5vmin / 10vmin 10vmin;
    top: 0;
    mask: linear-gradient(-15deg, transparent 30%, white);
  }
</style>

<Layout
  title="Brackets NFL Playoffs 2024"
  description="Demuestra que sabes de NFL y presumelo con tus amigos, ve y predice los brackets de los NFL playoffs 2024"
>
  <div
    class="layer__background relative z-10 min-h-screen py-20 bg-gradient-to-b from-[#220242] via-[#100B34] to-[#07091B] text-white"
  >
    <div class="w-11/12 max-w-[1440px] mx-auto">
      <header class="text-center">
        <span class="inline-block">
          <NFL />
        </span>
        <h1 class="mt-1.5 font-black text-4xl">
          NFL Playoffs 2024
        </h1>
      </header>

      <main class="mt-12">
        <!-- WildCard Round -->
        <section class="grid xl:grid-cols-[1fr_auto_1fr] gap-x-12 gap-y-5">
          <span class="inline-flex justify-center xl:hidden">
            <WildCard />
          </span>
          <Bracket roundName="wild-card" conference="AFC" colStart={1} />
          <span class="hidden xl:inline-block">
            <WildCard />
          </span>
          <Bracket roundName="wild-card" conference="NFC" colStart={1} />
        </section>

        <!-- Divisional Round -->
        <section class="mt-14 xl:mt-6 grid xl:grid-cols-[1fr_auto_1fr] gap-x-12 gap-y-5">
          <span class="inline-flex justify-center xl:hidden">
            <Divisional />
          </span>
          <Bracket roundName="divisional" conference="AFC" colStart={3} />
          <span class="hidden xl:inline-block">
            <Divisional />
          </span>
          <Bracket roundName="divisional" conference="NFC" colStart={3} />
        </section>

        <!-- Championship Round -->
        <section class="mt-14 xl:mt-6 grid xl:grid-cols-[1fr_auto_1fr] gap-x-12 gap-y-5">
          <div class="flex items-center justify-center gap-x-2 xl:hidden">
            <picture class="inline-flex max-w-20 justify-center items-center">
              <img src="./afc-championship.webp" alt="Logo AFC Championship" class="max-w-full object-contain">
            </picture>
            <picture class="inline-flex max-w-20 justify-center items-center">
              <img src="./nfc-championship.webp" alt="Logo NFC Championship" class="max-w-full object-contain">
            </picture>
          </div>
          <Bracket roundName="conference" conference="AFC" colStart={5} />
          <div class="hidden xl:flex items-center gap-x-2">
            <picture class="inline-flex max-w-20 justify-center items-center">
              <img src="./afc-championship.webp" alt="Logo AFC Championship" class="max-w-full object-contain">
            </picture>
            <picture class="inline-flex max-w-20 justify-center items-center">
              <img src="./nfc-championship.webp" alt="Logo NFC Championship" class="max-w-full object-contain">
            </picture>
          </div>
          <Bracket roundName="conference" conference="NFC" colStart={5} />
        </section>

        <section class="mt-8">
          <div class="flex items-center gap-x-2 justify-center ">
            <span class="inline-block rounded-full w-8 aspect-square bg-green-300/20 drop-shadow-[0_10px_20px_#527853]"></span>
            <span>Your pick</span>
          </div>
        </section>

        <div class="mt-10 flex justify-center">
          <Button
            url="/predicciones/conference/1"
            target="_self"
            class="text-xl ease-out transition-[background] hover:bg-primary1 drop-shadow-[0_8px_15px_#C5425F]"
          >
            Predecir
          </Button>
        </div>

        <!-- Super Bowl -->
      </main>

      <footer></footer>
    </div>
  </div>
</Layout>
