---
import { getTeamById, getTeamLogo} from "@/data/utils/teams";


interface Props {
  teamId: string;
  conference: "AFC" | "NFC";
}

const { teamId, conference } = Astro.props;
console.log(teamId)
const team = getTeamById({ id: teamId, conference });

const TeamLogo = await getTeamLogo({teamIdName: team?.id, conference})
---

<div class="py-3.5 flex flex-col justify-center items-center">
  <span class="inline-block">
    {TeamLogo && <TeamLogo width={45} height={45} />}
  </span>
  <p class="uppercase font-bold">
    {team?.id}
  </p>
</div>
