---
import { getTeamById, getTeamLogo} from "@/data/utils/teams";


interface Props {
  teamId: string;
  conference: "AFC" | "NFC";
}

const { teamId, conference } = Astro.props;
const team = getTeamById({ id: teamId, conference }) ?? getTeamById({ id: teamId, conference: conference === 'AFC' ? 'NFC' : conference});
const TeamLogo = await getTeamLogo({teamIdName: team?.id, conference})
---

<article class="flex flex-col justify-center items-center">
  <span class="inline-block">
    {TeamLogo && <TeamLogo width={45} height={45} />}
  </span>
  {
    team && (
      <p class="uppercase font-bold">
        {team?.id}
      </p>
    )
  }
</article>
