<svg
  width="100"
  height="100"
  viewBox="0 0 500 500"
  ><defs
    ><style>
      .cls-1 {
        fill: none;
      }
      .cls-2 {
        fill: #ccc;
      }
      .cls-3 {
        fill: #999;
      }
      .cls-4 {
        fill: #3b3b3c;
      }
      .cls-5 {
        fill: url(#radial-gradient);
      }
      .cls-6 {
        fill: url(#radial-gradient-2);
      }
      .cls-7 {
        fill: #141414;
      }
      .cls-10,
      .cls-8 {
        fill: #fff;
      }
      .cls-9 {
        fill: #013369;
      }
      .cls-10 {
        isolation: isolate;
      }
      .cls-11 {
        fill: #d50a0a;
      }
      .cls-12 {
        fill: url(#linear-gradient);
      }
      .cls-13 {
        fill: #ededed;
      }
      .cls-14 {
        fill: #a6a6a6;
      }
      .cls-15 {
        fill: url(#radial-gradient-3);
      }
      .cls-16 {
        fill: url(#radial-gradient-4);
      }
      .cls-17 {
        fill: url(#radial-gradient-5);
      }
      .cls-18 {
        fill: url(#radial-gradient-6);
      }
    </style><radialGradient
      id="radial-gradient"
      cx="350.27"
      cy="141.08"
      r=".06"
      gradientUnits="userSpaceOnUse"
      ><stop offset=".3" stop-color="#e0e0e0"></stop><stop
        offset=".35"
        stop-color="#d7d7d7"></stop><stop offset=".65" stop-color="#a4a4a4"
      ></stop><stop offset=".87" stop-color="#848484"></stop><stop
        offset="1"
        stop-color="#787878"></stop></radialGradient
    ><radialGradient
      id="radial-gradient-2"
      cx="302.03"
      cy="243.58"
      r="283.81"
      gradientUnits="userSpaceOnUse"
      ><stop offset=".05" stop-color="#e8e8e8"></stop><stop
        offset=".05"
        stop-color="#d3d3d3"></stop><stop offset=".07" stop-color="#afafaf"
      ></stop><stop offset=".08" stop-color="#8f8f8f"></stop><stop
        offset=".09"
        stop-color="#737373"></stop><stop offset=".11" stop-color="#5d5d5d"
      ></stop><stop offset=".13" stop-color="#4c4c4c"></stop><stop
        offset=".15"
        stop-color="#414141"></stop><stop offset=".18" stop-color="#3a3a3a"
      ></stop><stop offset=".28" stop-color="#383838"></stop><stop
        offset=".32"
        stop-color="#3a3a3a"></stop><stop offset=".34" stop-color="#424242"
      ></stop><stop offset=".35" stop-color="#4f4f4f"></stop><stop
        offset=".37"
        stop-color="#626262"></stop><stop offset=".38" stop-color="#7b7b7b"
      ></stop><stop offset=".39" stop-color="#999"></stop><stop
        offset=".4"
        stop-color="#bdbdbd"></stop><stop offset=".41" stop-color="#e5e5e5"
      ></stop><stop offset=".41" stop-color="#f5f5f5"></stop><stop
        offset=".5"
        stop-color="#f2f2f2"></stop><stop offset=".74" stop-color="#dbdbdb"
      ></stop><stop offset=".75" stop-color="#d9d9d9"></stop><stop
        offset=".76"
        stop-color="#d2d2d2"></stop><stop offset=".76" stop-color="#c7c7c7"
      ></stop><stop offset=".76" stop-color="#b6b6b6"></stop><stop
        offset=".77"
        stop-color="#a0a0a0"></stop><stop offset=".77" stop-color="#848484"
      ></stop><stop offset=".77" stop-color="#646464"></stop><stop
        offset=".77"
        stop-color="#404040"></stop><stop offset=".77" stop-color="#1c1c1c"
      ></stop><stop offset=".79" stop-color="#3b3b3b"></stop><stop
        offset=".83"
        stop-color="#767676"></stop><stop offset=".87" stop-color="#a7a7a7"
      ></stop><stop offset=".91" stop-color="#cdcdcd"></stop><stop
        offset=".95"
        stop-color="#e9e9e9"></stop><stop offset=".98" stop-color="#f9f9f9"
      ></stop><stop offset="1" stop-color="#fff"></stop></radialGradient
    ><linearGradient
      id="linear-gradient"
      x1="142.5"
      y1="225.12"
      x2="350.32"
      y2="225.12"
      gradientUnits="userSpaceOnUse"
      ><stop offset=".3" stop-color="#333"></stop><stop
        offset=".57"
        stop-color="#555657"></stop><stop offset=".85" stop-color="#737477"
      ></stop><stop offset="1" stop-color="#7e8083"></stop></linearGradient
    ><radialGradient
      id="radial-gradient-3"
      cx="243.23"
      cy="252.06"
      r="260.82"
      gradientUnits="userSpaceOnUse"
      ><stop offset=".3" stop-color="#e0e0e0"></stop><stop
        offset=".46"
        stop-color="#cfcfcf"></stop><stop offset=".81" stop-color="#afafaf"
      ></stop><stop offset="1" stop-color="#a3a3a3"></stop></radialGradient
    ><radialGradient
      id="radial-gradient-4"
      cx="243.23"
      cy="252.06"
      r="260.82"
      xlink:href="#radial-gradient-3"></radialGradient><radialGradient
      id="radial-gradient-5"
      cx="243.23"
      cy="252.06"
      r="260.82"
      xlink:href="#radial-gradient-3"></radialGradient><radialGradient
      id="radial-gradient-6"
      cx="243.23"
      cy="252.06"
      r="260.82"
      xlink:href="#radial-gradient-3"></radialGradient></defs
  ><title>Divisional</title><g id="Layer_1-2"
    ><path class="cls-1" d="M0 0h500v500h-500z"></path><path
      class="cls-2"
      d="M340.15 154.81l.84 1.27h.02l14.49-9.53-5.18-5.45-10.34 13.45.17.26z"
    ></path><path
      class="cls-3"
      d="M167.33 310.4c-.69-.59-1.73-1.58-2.38-2.2l-19 12.43 4 3.54 4.77 4.41z"
    ></path><path
      class="cls-4"
      d="M457.2 324.16h-184.65v4.41h182.2s13.19 25.29 2.45 59a68.64 68.64 0 0 0 6.17-19.31c4.75-26.03-6.17-44.1-6.17-44.1z"
    ></path><path class="cls-5" d="M350.25 141.07h.08-.11z"></path><path
      class="cls-6"
      d="M460.76 318.61h-167.76a194.88 194.88 0 0 0 21.22-16.24c80.61-71 65.38-178.43 65.38-178.43l-8.85-10.09a218 218 0 0 0-55.1-7c-35.27 0-86.72 8.29-131.53 47.75-63.61 56-67 133.6-65.59 164h-79.36s-9.17 17.7-9.17 37.26l9.17 37.27h421.59s9.24-17.69 9.24-37.27l-9.24-37.25zm-3.57 69h-414.39a73 73 0 0 1 0-63.42h81.67c-2.06-25.52-2.78-107.16 63.34-165.37 79.27-69.82 179.86-40.1 179.86-40.1l6.72 7.66s15.47 102-63.8 171.82a185.52 185.52 0 0 1-38 26h184.61s10.92 18.06 6.17 44.11a68.64 68.64 0 0 1-6.17 19.27z"
    ></path><path
      class="cls-7"
      d="M45.58 328.65h79l-.14-4.49h-81.64a73 73 0 0 0 0 63.42s-11.57-37.31 2.78-58.93z"
    ></path><path
      class="cls-8"
      d="M299.63 174.18a29.63 29.63 0 0 1-24.61 5 36 36 0 0 1-25.13-21.65 36 36 0 0 1-25.12 21.65 29.64 29.64 0 0 1-24.63-5h-3.53v90.74a17.92 17.92 0 0 0 4.28 11.35c4.61 5.6 12.4 9.2 23.18 10.76 8.58 1.25 14.93 4 19.41 8.24a46.31 46.31 0 0 1 6.41 8.65 50.28 50.28 0 0 1 6.42-8.65c4.47-4.29 10.83-7 19.41-8.24 10.77-1.54 18.57-5.16 23.18-10.76a18 18 0 0 0 4.27-11.35v-90.74z"
    ></path><path
      class="cls-9"
      d="M300 177.71a31.66 31.66 0 0 1-25.72 4.55c-17.55-4.38-24.36-17.53-24.36-17.53s-6.8 13.15-24.36 17.53a31.67 31.67 0 0 1-25.72-4.55v87.21c0 3 1.24 15.54 24.71 18.95 9.28 1.33 16.2 4.32 21.17 9.11a28.65 28.65 0 0 1 4.2 5.07 29 29 0 0 1 4.19-5.07c5-4.78 11.9-7.78 21.18-9.11 23.47-3.4 24.71-16 24.72-18.95z"
    ></path><path
      class="cls-10"
      d="M249.89 289.16s6.82-8.38 24.53-11.11c20.28-3.13 19.67-12.65 19.67-13.14v-45.68h-88.4v45.69c0 .49-.6 10 19.67 13.14 17.72 2.72 24.53 11.1 24.53 11.1z"
    ></path><path
      class="cls-11"
      d="M229.28 252.62v-21.72l-2.73-1.54v-5.64h12.45v5.64l-2.59 1.54v44.31l-6.64-2-9.6-28.28v18.65l3 2.34v5.75l-13.32-3.39v-4.9l3-1.19v-31.28l-3.12-1.55v-5.64h10.08zM252.14 272.48l2.66 3.19v5.63l-13.19-4.93v-4.78l2.91-1.19v-39.5l-2.89-1.49v-5.69h22.9v11.47h-5l-1.53-4.7h-5.83v13.26h4.38l1.72-2.52h3.51v11.77h-3.51l-1.66-2.4h-4.44zM266.7 274.48v-5.64l3.28-2.68v-35.26l-2.8-1.49v-5.69h13.21v5.69l-2.6 1.49v33.1l5.67-1.55 1.09-8.66h5.45v14.48z"
    ></path><path
      class="cls-8"
      d="M208 209.88l-4-3h4.88l1.63-4.62 1.6 4.62h4.89l-4 3 1.47 4.7-4-2.78-4 2.78zM225.33 209.88l-4-3h4.87l1.62-4.62 1.61 4.62h4.9l-4 3 1.46 4.7-4-2.78-4 2.78zM208 194.24l-4-3h4.88l1.63-4.64 1.6 4.64h4.89l-4 3 1.47 4.69-4-2.78-4 2.78zM225.33 194.24l-4-3h4.87l1.62-4.64 1.61 4.64h4.9l-4 3 1.46 4.69-4-2.78-4 2.78zM293.28 214.59l-4-2.78-4 2.78 1.45-4.7-4-3h4.88l1.62-4.62 1.62 4.62h4.87l-4 3zM275.93 214.59l-4-2.78-4 2.78 1.48-4.7-4-3h4.89l1.61-4.62 1.62 4.62h4.87l-4 3zM293.28 198.93l-4-2.78-4 2.78 1.45-4.69-4-3h4.88l1.62-4.64 1.62 4.64h4.87l-4 3zM275.93 198.93l-4-2.78-4 2.78 1.48-4.69-4-3h4.89l1.61-4.64 1.62 4.64h4.87l-4 3zM260.89 181.68a23.45 23.45 0 0 0-4.95 3.91 16.23 16.23 0 0 1 1.81 1.22l-1.3 1.2a13.56 13.56 0 0 0-5.35-2.7c.5-.37 1-.71 1.55-1.06a11.67 11.67 0 0 1 1.61.53 26 26 0 0 1 6.09-3.56 2.7 2.7 0 0 0-1.21-.15c-12.82.15-24.65 9.74-22.43 26.14.27 1.73.92 4.89 1.77 6.29a49.75 49.75 0 0 1 4.36-15.24 12.88 12.88 0 0 0-1.94-.53l.75-1.48a13.48 13.48 0 0 1 6 2.73c-.41.66-.7 1.11-.89 1.44a13.79 13.79 0 0 0-1.88-1.25 53.55 53.55 0 0 0-5.65 14.57c0 .18.41.28.72.26 14.06-1.83 20.64-9 22.63-16.78a23.92 23.92 0 0 0-.87-14.77c-.15-.3-.4-.8-.82-.77zm-12.07 15.49a13.32 13.32 0 0 0-6.07-2.85s.63-1.06 1-1.6a13.7 13.7 0 0 1 6.08 2.93l-1.01 1.52zm2.29-3.25a13.75 13.75 0 0 0-6.09-3c.35-.45.77-.94 1.18-1.39a13.58 13.58 0 0 1 6.06 2.88c-.4.59-.78 1.04-1.14 1.51zm2.57-3.08a13.71 13.71 0 0 0-5.88-2.84c.51-.48 1-.9 1.5-1.28a13.78 13.78 0 0 1 5.7 2.78c-.49.44-.9.9-1.31 1.33z"
    ></path><path
      class="cls-12"
      d="M153.44 225.41c-17.07 45.22-9.6 86.22-7.54 95.21l19-12.43a31.16 31.16 0 0 1-2.09-2.4c-30.16-34.26-1.9-108.44 32.34-138.61 27.4-24.12 82.82-41.41 119.36-29.86 9.16 2.89 17.13 7.6 23.17 14.46.86 1 2.24 2.76 2.24 2.76l10.35-13.45h-.08.11s-12.32-6.78-35.58-10a169.91 169.91 0 0 0-42.88-.28c-30.22 3.69-60.58 16.66-81.6 36.35-18.65 17.53-29.24 38.32-36.8 58.25z"
    ></path><path
      class="cls-13"
      d="M355.5 146.55l-14.5 9.53c21.39 31.26 3.13 89.1-23.8 122.53 15.36-15.71 25.22-35.1 31.53-53.11a158.09 158.09 0 0 0 8.13-35.4c2.22-21.65-.19-37.83-1.36-43.55z"
    ></path><path
      class="cls-14"
      d="M317.2 278.61c-.61.75-1.21 1.51-1.82 2.23l.15-.09a149.82 149.82 0 0 1-11.09 10.47c-20.86 18.38-57.64 32.48-90 32.94h-3c-17-.2-32.94-4.32-44.11-13.77l-12.64 18.18c43.26 5.57 78.58 0 104.68-9 29.72-10.22 48.68-26.64 58.78-37.39 18.91-20.12 28.22-47.74 30.59-56.71-6.31 18.04-16.17 37.43-31.54 53.14z"
    ></path><path
      class="cls-1"
      d="M149.92 324.16s3.79 3.54 4.77 4.41c43.26 5.57 78.58 0 104.68-9 29.72-10.22 48.68-26.64 58.78-37.39 18.91-20.12 28.22-47.74 30.59-56.71a158.09 158.09 0 0 0 8.13-35.4c2.21-21.65-.2-37.83-1.37-43.55l-5.17-5.45s-12.32-6.78-35.58-10a169.91 169.91 0 0 0-42.88-.28c-30.22 3.69-60.58 16.66-81.6 36.35-18.67 17.49-29.3 38.28-36.82 58.22-17.07 45.22-9.6 86.22-7.54 95.21zM154.69 328.57z"
    ></path><path
      class="cls-15"
      d="M84.57 348.45h-18.27v20.61h18.27a5.33 5.33 0 0 0 5.23-5.29v-10a5.33 5.33 0 0 0-5.23-5.32z"
    ></path><path class="cls-16" d="M374.41 360.21h9.44l-4.72-11.64-4.72 11.64z"
    ></path><path
      class="cls-17"
      d="M454.75 328.57h-182.2v-4.41a185.52 185.52 0 0 0 38-26c79.27-69.8 63.8-171.82 63.8-171.82l-6.72-7.66s-100.55-29.68-179.82 40.11c-66.11 58.21-65.4 139.85-63.34 165.37l.14 4.49h-79c-14.35 21.62-2.78 58.92-2.78 58.92h414.37c10.74-33.71-2.45-59-2.45-59zm-301.31-103.16c7.52-19.93 18.15-40.72 36.82-58.22 21-19.69 51.38-32.66 81.6-36.35a169.91 169.91 0 0 1 42.88.28c23.26 3.19 35.58 10 35.58 10l5.17 5.45c1.17 5.72 3.58 21.9 1.37 43.55a158.09 158.09 0 0 1-8.13 35.4c-2.37 9-11.68 36.58-30.59 56.71-10.1 10.75-29.06 27.17-58.78 37.39-26.1 9-61.42 14.54-104.68 9-1-.87-4.77-4.41-4.77-4.41l-4-3.54c-2.07-9.04-9.54-50.04 7.53-95.26zm-54.36 128.33v12.93a14.53 14.53 0 0 1-14.51 14.51h-27.57v-44.73l.94-.12h26.63a14.53 14.53 0 0 1 14.51 14.51zm15.51-14.51v42h-9.23v-44.9h9.23zm38.84 35.44c-1.1 2.45-3.82 6.46-8.85 6.46h-3c-5 0-6.84-4-8.86-6.14l-15.31-38.69h12.18l12.64 32c.14.37.25.61.32.75h1.1c.07-.14.17-.38.32-.75l12.65-32h12s-15.17 38.28-15.19 38.36zm28.45-36.11v42.62h-9.23v-44.85h9.23zm47.58 28.37v2.9000000000000004a11.28 11.28 0 0 1-11.46 11.35h-27v-12.12h27a2.2 2.2 0 0 0 2.05-1.38 2.59 2.59 0 0 0-1.88-1l-19.34-3.78c-5.72-1.14-9.56-5.44-9.56-10.71v-4.529999999999999a11.16 11.16 0 0 1 1.46-5.52 11.46 11.46 0 0 1 10-5.79h27.09v12.12h-27.08a2.17 2.17 0 0 0-2 1.38 2.76 2.76 0 0 0 1.94 1l19.22 3.79c5.72 1.15 9.56 5.45 9.56 10.71zm16.65-27.69v42h-9.22v-44.91h9.22zm53.44 14.7v12.56a14.62 14.62 0 0 1-14.55 14.68h-15.5a14.7 14.7 0 0 1-14.5-14.85v-15.25a14.65 14.65 0 0 1 14.51-14.75h15.49a14.62 14.62 0 0 1 14.55 14.67zm50.5-14.7v37.35a4.66 4.66 0 0 1-4.68 4.61 4.52 4.52 0 0 1-3.22-1.44l-24-24.56v26h-9.27v-40.43c0-4.27 5.41-5.88 8-3.08l24 24.64v-26h9.12zm52 40.66l.51 1.29h-10.44l-3.55-9h-18.88l-3.55 9h-10.57l.51-1.29.64-1.61h-1.14l.51-1.29c8.66-21.95 11.79-29.8 12.93-32.65l.61-1.54c1.09-2.45 2.91-6.47 7.95-6.47h3c5 0 6.85 4 7.83 6.17l.16.55c0-.18.17.28.69 1.61 1.22 3.08 4.43 11.12 12.81 32.34l.51 1.29h-1.15zm40.76-7.9v9.22h-25.16a9.4 9.4 0 0 1-9.51-9.49v-35.4h9.29v32.51h25.39z"
    ></path><path
      class="cls-18"
      d="M285 348.45h-15.5a5.39 5.39 0 0 0-5.28 5.35v9.8a5.52 5.52 0 0 0 5.28 5.46h15.5a5.3 5.3 0 0 0 5.28-5.17v-10.15a5.35 5.35 0 0 0-5.28-5.29z"
    ></path><path
      class="cls-8"
      d="M84.57 345.55h-18.27v2.9h18.27a5.33 5.33 0 0 1 5.23 5.28v-2.9a5.32 5.32 0 0 0-5.23-5.28zM84.57 378.28h-27.57v2.9h27.57a14.53 14.53 0 0 0 14.51-14.51v-2.9a14.53 14.53 0 0 1-14.51 14.51zM166.57 336.33l-.51 1.29-.63 1.61c-8.65 21.91-11.52 29.06-12.47 31.43l-.44 1.11c-1.1 2.46-2.91 6.47-7.94 6.47h-3c-5 0-6.84-4-7.82-6.14l-.17-.57c0 .17-.08 0-.34-.7-.88-2.2-3.68-9.17-12.53-31.59l-.63-1.61-.51-1.29h-2.18l15.27 38.66c2 2.15 3.85 6.14 8.86 6.14h3c5 0 7.76-4 8.85-6.46 0-.08 15.19-38.37 15.19-38.37zM218 378.28h-27v2.9h27a11.28 11.28 0 0 0 11.43-11.36v-2.26a11.26 11.26 0 0 1-11.43 10.72zM220.23 365.35c0-.79-.68-1.33-2-1.59l-19.37-3.76c-5.47-1.09-9.22-5.08-9.53-10v2.23c0 5.27 3.84 9.57 9.56 10.71l19.34 3.78a2.59 2.59 0 0 1 1.88 1 2.06 2.06 0 0 0 .15-.76zM198.59 347.71v1.56a1.1 1.1 0 0 0 .15.56 2.17 2.17 0 0 1 2-1.38h27.09v-2.9h-27.09a2.18 2.18 0 0 0-2.15 2.16zM285 345.55h-15.5a5.39 5.39 0 0 0-5.28 5.35v2.9a5.39 5.39 0 0 1 5.28-5.35h15.5a5.35 5.35 0 0 1 5.28 5.28v-2.9a5.35 5.35 0 0 0-5.28-5.28zM285 378.28h-15.5a14.7 14.7 0 0 1-14.5-14.85v2.9a14.7 14.7 0 0 0 14.51 14.85h15.49a14.62 14.62 0 0 0 14.51-14.68v-2.9a14.62 14.62 0 0 1-14.51 14.68zM379.63 345.67h-1.09c-.07.14-.17.37-.32.75l-5.54 13.78h1.73l4.72-11.64 4.72 11.64h1.64l-5.49-13.78c-.19-.42-.3-.61-.37-.75zM389 369.26h-19.87l-3.55 9h-8.86l-.64 1.61-.51 1.29h10.58l3.55-9h18.88l3.55 9h10.47l-.51-1.29-.64-1.61h-8.85zM408.13 368.79v2.9a9.4 9.4 0 0 0 9.51 9.49h25.16v-2.9h-25.15a9.4 9.4 0 0 1-9.52-9.49z"
    ></path><path
      d="M84.57 336.33h-26.57l-.94.12v41.83h27.51a14.53 14.53 0 0 0 14.51-14.51v-12.93a14.53 14.53 0 0 0-14.51-14.51zm5.23 17.41v10a5.33 5.33 0 0 1-5.23 5.29h-18.27v-23.5h18.27a5.32 5.32 0 0 1 5.23 5.28zM166.57 336.33h-10l-12.65 32c-.15.37-.25.61-.32.75h-1.1c-.07-.14-.17-.37-.32-.75l-12.64-32h-10l.51 1.29.63 1.61c8.84 22.41 11.64 29.39 12.53 31.59.27.65.35.87.34.7l.17.57c1 2.15 2.81 6.14 7.82 6.14h3c5 0 6.85-4 7.94-6.47 0-.09.13-.32.44-1.11 1-2.37 3.82-9.52 12.47-31.43l.63-1.61zM219.91 354.64l-19.22-3.79a2.76 2.76 0 0 1-1.94-1 1.1 1.1 0 0 1-.15-.56v-1.56a2.18 2.18 0 0 1 2.14-2.15h27.09v-9.23h-27.09a11.46 11.46 0 0 0-10 5.79 11.16 11.16 0 0 0-1.46 5.52v2.3c.31 5 4.06 8.95 9.53 10l19.34 3.78c1.34.27 2 .8 2 1.59v1.57a2.06 2.06 0 0 1-.15.76 2.2 2.2 0 0 1-2.05 1.38h-26.95v9.22h27a11.26 11.26 0 0 0 11.4-10.72v-2.21c.06-5.24-3.78-9.54-9.49-10.69zM285 336.33h-15.5a14.65 14.65 0 0 0-14.5 14.75v12.35a14.7 14.7 0 0 0 14.51 14.85h15.49a14.62 14.62 0 0 0 14.51-14.68v-12.6a14.62 14.62 0 0 0-14.51-14.67zm5.28 17.41v10.15a5.3 5.3 0 0 1-5.28 5.17h-15.5a5.52 5.52 0 0 1-5.28-5.46v-12.7a5.39 5.39 0 0 1 5.28-5.35h15.5a5.35 5.35 0 0 1 5.28 5.28z"
    ></path><path
      class="cls-8"
      d="M105.36 378.28h9.23v2.9h-9.23zM172.65 378.28h9.23v2.9h-9.23zM236.89 378.28h9.22v2.9h-9.22zM308.85 378.28h9.27v2.9h-9.27zM345.36 378.28a4.53 4.53 0 0 1-3.22-1.44l-24-24.56v2.9l24 24.56a4.52 4.52 0 0 0 3.22 1.44 4.66 4.66 0 0 0 4.68-4.61v-2.9a4.66 4.66 0 0 1-4.68 4.61z"
    ></path><path
      d="M105.36 339.22v39.06h9.23v-41.95h-9.23v2.89zM172.65 336.33v41.95h9.23v-41.95h-9.23zM236.89 339.22v39.06h9.22v-41.95h-9.22v2.89zM340.82 336.33v26l-24-24.64c-2.57-2.8-8-1.19-8 3.08v37.51h9.27v-26l24 24.56a4.53 4.53 0 0 0 3.22 1.44 4.66 4.66 0 0 0 4.68-4.61v-37.34zM402.09 377c-8.38-21.22-11.59-29.26-12.81-32.34-.53-1.33-.7-1.78-.69-1.61l-.16-.55c-1-2.16-2.8-6.17-7.83-6.17h-3c-5 0-6.86 4-7.95 6.47l-.61 1.54c-1.13 2.85-4.27 10.7-12.93 32.65l-.51 1.29h10l3.55-9h19.85l3.55 9h10zm-17.77-16.78h-11.64l5.54-13.78c.15-.38.25-.61.32-.75h1.09c.07.14.17.37.32.75l5.53 13.78zM417.42 339.22v-2.9h-9.29v32.46a9.4 9.4 0 0 0 9.51 9.49h25.16v-9.44h-25.38z"
    ></path></g
  ></svg
>
